<!-- <h1>Angular Router</h1>
<nav>
    <a routerLink="/formArrays" routerLinkActive="active">Form Arrays</a>&nbsp;&nbsp;
    <a routerLink="/filterEmployees" routerLinkActive="actvie">Filter Employees</a>&nbsp;&nbsp;
    <a routerLink="/path1" routerLinkActive="active">Samplepath</a>
    
</nav> -->


<div>
  <app-toolbar></app-toolbar>
  <div class="ui-g-offset-1" style="margin-top:50px;">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <h1> {{title}} </h1>

<button routerLink="/directivesModule">Directives Demo</button>
<button routerLink="/pipesModule">Pipes Demo</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet> -->

